<div class="post-list">
	
	<h3>
		<%= link_to post.body, post_path %> (<%= post.comments.count %>)
	</h3>
	
	<%= link_to post.link, post.link %><br />

	<% unless post.comments.size == 0 %>
		<% post.comments.each do |comment| %>
			<p>
				<%= comment.body %>
			</p>
		<% end %>
	<% end %>

</div>