<h1>Posts#index</h1>

<p><a href="/posts/new">New post</a></p>

<% @posts.each do |post| %>
  <div>
    Link: <a href="/posts/<%=post.id%>"><%=post.link%></a>
    </br>
    Body: <%=post.body%>
    </br>
  <%post.comments.each do |comment| %>

    Comment: <%=comment[:body]%>
    </br>
    </br>
  <%end%> 
  </div>
<%end%>   
