<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div>
<%= link_to "Create New Post", new_post_path %>
</div>
<div>
<% @posts.each do |post| %>
	<%= link_to post.name, post_path(post.id) %> by <%= post.user.email%><br>
<% end %>
</div>
