<h1>Nest-eddit's Homepage</h1>
<p>Find time consuming posts with comedic looping comments that you can bond with other Nest-eddit users over.</p>
<p>PS: I have karma, therefore I am.</p>

<% @posts.each do |p| %>
    <ul>
        <li><%= link_to p.link, post_comments_path(p.id) %></li>
    </ul>
<% end %>