<h1>Posts:</h1>

<%@posts.each do |f| %>
	<%=f.link%><br>
	<%=f.body%><br>
	<div>
	<%f.comments.each do |x|%>
	<%=x.commentbody %><br>
	<%end%>
	</div>
	<br>
<%end%>

<%=link_to "New Post", new_post_path %>
<%#=@user.email %>