<h1>Raddit</h1>


  <% @posts.each do |p| %>
    <ul>
      <li> <%= link_to p.body, post_path(p) %></li>
      <li><%= p.link%></li>
    </ul>
  <% end %>

<%= button_to "new post", new_post_path, method: :get %>