<h1>Welcome to NotReddit!</h1>
<h2>The Second- or Maybe Third-Happiest Place on the Interwebs</h2>

<a href="/posts/new">New Post</a>

<% @post.each do |title| %>
    <ul>
        <li><%= title.title %></li>
    </ul>
<% end %>