Posts:

<div class="container all-posts">
	<% @posts.each do |post| %>
		<%= link_to(post) do %>
			<div class="container single-posts">
				<%= post.body %>
				<%= link_to "link", post.link %>
			</div>
		<% end %>
	<% end %>
</div>
