<h1>Posts</h1>

<% @posts.each do |post| %>
	<h3><%= link_to post.link, post_path(post) %></h3>
	<%= post.body %> <br>
	<ul>
	<% post.comments.each do |comment| unless post.comments.nil? %>
		<li><%= link_to comment.body, post_comment_path(post.id, comment.id) %></li>
		<% end %>
	<% end %>
	<br> <li><%= link_to "Comment", new_post_comment_path(post) %></li>
	</ul>
<% end %>