<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>


<%= form_for @post do |f| %>
	<%= f.text_field :link, placeholder: "name of link" %>
		<%= f.text_field :body, placeholder: "body of comment" %>
		<%= f.submit %>

<% end %> 