Post
<div><%= @post.link %></div>
<div><%= @post.body %></div>

<div>
  Comments
  <% @post.comments.each do |comment| %>
    <div><a href="<%= comment_path(comment)%>"><%= comment.body %></a></div>
  <% end %>
</div>
