/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.comments-all {
	margin-top: 30px;
}
.comment-wrap {
	margin: 10px 0px;
	padding: 5px 10px 15px 15px;
}

.page-heading  {
	margin-top: 80px;
}

.nav-btn {
	margin-top: 7px
}

.container h2 {
	margin-top: 80px;
}

.comment-count {
	color: #999;
}

.last-five {
	margin-top: 70px;
}