<!DOCTYPE html>
<html>
<head>
  <title>NestedResources</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/users/sign_up">Sign up</a> <br>
<a href="/users/sign_in">Sign in</a> <br>
<a href="/users/sign_out">Sign out</a> <br>
<a href="/posts/new">New post</a> <br>
<a href="/posts">All posts</a> <br>

<%= yield %>

</body>
</html>
